{layout name="common/header_footer" /}

<div class="layui-fluid" id="LAY-flow-demo">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">信息流 - 滚动加载</div>
                <div class="layui-card-body">
                    <ul class="flow-default" id="flow-auto"></ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="__STATIC__/layui/layui.all.js"></script>
<script>
    layui.use(['flow'], function(){
        var flow = layui.flow;
        var $ = layui.jquery;
        flow.load({
            elem: '#flow-auto' //流加载容器
            // ,scrollElem: '#flow-auto' //滚动条所在元素，一般不用填，此处只是演示需要。
            ,done: function(page, next){ //执行下一页的回调
                //console.log(page); //获得当前页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                // $.get("{:url('material/all')}?page="+page, function(res){
                //     //假设你的列表返回在data集合中
                //     layui.each(res.data, function(index, item){
                //         lis.push('<li><img src="'+item.url+'"></li>');
                //     });
                //     //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                //     //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                //     next(lis.join(''), page < res.pages);
                // });

                $.ajax({
                    type:"get",
                    url:"{:url('material/all')}",
                    dataType:"json",
                    data:{'page':page},
                    success:function(res){
                        layui.each(res.data, function(index, item){
                            lis.push('<li><img src="'+item.url+'"></li>');
                        });
                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < res.pages);

                    }
                });
            }
        });


    });
</script>
