{layout name="common/header_footer" /}

<script src="__ROOT__/editor/lib/jquery/dist/jquery.js"></script>
<script src="__ROOT__/editor/lib/markdown-it/dist/markdown-it.js"></script>
<script src="__ROOT__/editor/lib/to-mark/dist/to-mark.js"></script>
<script src="__ROOT__/editor/lib/tui-code-snippet/dist/tui-code-snippet.js"></script>
<script src="__ROOT__/editor/lib/tui-color-picker/dist/tui-color-picker.js"></script>
<script src="__ROOT__/editor/lib/codemirror/lib/codemirror.js"></script>
<script src="__ROOT__/editor/lib/highlightjs/highlight.pack.js"></script>
<script src="__ROOT__/editor/lib/squire-rte/build/squire-raw.js"></script>
<link rel="stylesheet" href="__ROOT__/editor/lib/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="__ROOT__/editor/lib/highlightjs/styles/github.css">
<link rel="stylesheet" href="__ROOT__/editor/explain.css">
<script src="__ROOT__/editor/lib/plantuml-encoder/dist/plantuml-encoder.js"></script>
<script src="__ROOT__/editor/lib/raphael/raphael.js"></script>
<script src="__ROOT__/editor/lib/tui-chart/dist/tui-chart.js"></script>
<!--<script src="__ROOT__/editor/dist/tui-editor-Editor.js"></script>-->
<script src="__ROOT__/editor/dist/tui-editor-Editor-all.js"></script>
<link rel="stylesheet" href="__ROOT__/editor/dist/tui-editor.css">
<link rel="stylesheet" href="__ROOT__/editor/dist/tui-editor-contents.css">
<link rel="stylesheet" href="__ROOT__/editor/lib/tui-color-picker/dist/tui-color-picker.css">
<link rel="stylesheet" href="__ROOT__/editor/lib/tui-chart/dist/tui-chart.css">

<div class="layui-fluid">
    <div class="layui-card layui-tab-brief">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <p>文章列表</p>
        </div>
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('index')}">文章列表</a></li>
            <li class="layui-this">添加文章</li>
        </ul>

        <div class="layui-card-body">

            <form class="layui-form form-container" action="{:url('add')}" method="post" onsubmit="return checkSubmit()">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="" required  lay-verify="required" placeholder="请输入文章标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-block">
                        <input type="text" name="author" value="" required  lay-verify="required" placeholder="作者" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">前引</label>
                    <div class="layui-input-block">
                        <input type="text" name="header" value="" required  lay-verify="required" placeholder="前引" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block">
                        <input type="text" name="tag" value=""  placeholder="标签" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block">
                        <select name="tag" lay-verify="required">
                            <option value=""></option>
                            <option value="0">选择标签</option>
                            {foreach name="tagInfo" item="tag"}
                            <option value="{$tag.id}">{$tag.tag_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea name="description" placeholder="请输入描述" lay-verify="required" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文章类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="1" title="文本" checked="checked">
                        <input type="radio" name="type" value="2" title="多图片">
                        <input type="radio" name="type" value="3" title="视频">
                        <input type="radio" name="type" value="4" title="音频">
                        <input type="radio" name="type" value="5" title="引用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">阅读状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="read_type" value="1" title="正常" checked="checked">
                        <input type="radio" name="read_type" value="0" title="密码">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" value="" placeholder="密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否有效</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="有效" checked="checked">
                        <input type="radio" name="status" value="0" title="无效">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">正文</label>
                    <div class="layui-input-block" id="editSection">

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <button class="layui-btn" lay-submit lay-filter="*" id="haha">保存</button>

    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate']);
</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<script src="__ROOT__/editor/video-and-audio.js"></script>
<script class="code-js">

    // https://nhnent.github.io/tui.editor/api/latest/ToastUIEditor.html#ToastUIEditor
    var editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        previewStyle: 'vertical',
        height: '400px',
        initialEditType: 'markdown',
        useCommandShortcut: true,
        initialValue: '',
        hooks: {
            addImageBlobHook: addImageBlobHook.bind(this),
        },
        language: 'zh_CN',
        toolbarItems: [
            'heading',
            'bold',
            'italic',
            'strike',
            'divider',
            'hr',
            'quote',
            'divider',
            'ul',
            'ol',
            'task',
            'indent',
            'outdent',
            'divider',
            'table',
            'image',
            'link',
            'divider',
            'code',
            'codeblock',
            'divider'
            ],
        exts: [
            {
                name: 'chart',
                minWidth: 100,
                maxWidth: 600,
                minHeight: 100,
                maxHeight: 300
            },
            'scrollSync',
            'colorSyntax',
            'uml',
            'chart',
            'mark',
            'table',
            'video',
            'audio'
        ]
    });

    newButton(editor);

    function addImageBlobHook(blob, callback) {
        const data = new FormData();
        //blob就是一个文件对象
        data.append('image', blob);
        //console.log(data, $('#cuzn123')[0]);
        //console.log 打印data的时候确实为空,要用下面的方法打印,然后看php获取的值,之前一直用get,拿不到值,换了post就好了
        //console.log(data.has("upfile"));//true
        console.log(data.get("image"));

        //data.forEach(function(file){
        //    console.log(file);
        //});

        $.ajax({
            url: "{:url('upload')}",
            type: "POST",
            data: data,
            //dataType: 'JSON',
            processData: false,
            contentType: false,
            //async: false,
            cache: false,
            //headers: {
            //    'Content-Type': 'multipart/form-data'
            //},
            success: function (result) {
                result = JSON.parse(result);
                console.log(typeof result);
                console.log("result['state'] : " + result["state"]);
                console.log("result.state : " + result.state);
                if (result["code"] == '1') {
                    //这里是生成htpp模式的图片地址(我这里是七牛返回的一个key,需要转换)
                    // var image = MyCommon.getViewImage(result["key"]);
                    var image = result['msg']['url'];
                    //这里是插件自带的回调函数
                    callback(image, 'alt text');
                }
                console.log(result);
            },
            error: function (e) {
                console.log(e);
            }
        });
        //$.get('/upload-images', data, config) .then(response => { callback(response.data.url, ''); }) .catch(error => { })
    }



    //提交表单之前 把值插入textarea 里面

    function subF() {

        $("#content").val(editor.getMarkdown ());

        //console.log('editor.getHtml () : ' + editor.getHtml ());

        //console.log('editor.getValue () : ' + editor.getValue ());

        //console.log('editor.getMarkdown () : ' + editor.getMarkdown ());

        return true;

    }

</script>