{layout name="common/header_footer" /}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <p>修改密码</p>
        </div>
        <div class="layui-card-body">

            <form class="layui-form" action="{:url('editPass')}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" placeholder="请输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password2" placeholder="再次输入密码" class="layui-input">
                    </div>
                </div>
                <input type="hidden" name="id" value="{$userInfo.id}" />
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate']);
</script>