{layout name="common/header_footer" /}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <p>用户列表</p>
        </div>
        <div class="layui-card-body">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="userList" id="list"}
                <tr>
                    <td>{$list.id}</td>
                    <td>{$list.username}</td>
                    <td>{$list.nickname}</td>
                    <td>{$list.add_time|date='Y-m-d H:i:s',###}</td>
                    <td>{$list.status|get_user_status}</td>
                    <td>
                        <a href="{:url('edit',['id'=>$list.id])}" class="layui-btn layui-btn-mini">编辑</a>
                        <a href="{:url('editPass',['id'=>$list.id])}" class="layui-btn layui-btn-mini">改密</a>
                        <a href="{:url('delete',['id'=>$list.id])}" onclick="return confirm('确定要删除吗？');" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="admin-table-page">
            <div id="page" class="page">
                {$userList->render()}
            </div>
        </div>
    </div>
</div>
